.login {

    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 3em 10em;
        justify-content: space-around;
        align-items: center;
        border-radius: 15px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        }

    &__logo {
        display: flex;
        align-items: center;
        justify-self: center;
        gap: 5px;
        padding: 0 2em;
    
        &-text {
            font-size: 2.5rem;
            letter-spacing: 0.5px;
            font-weight: 600;
            color: darkblue;
        }
    
        &-icon,
        &-text--highlight {
            background-color: #CA4246;
             background-image: linear-gradient(
                  45deg,
                  #CA4246 16.666%, 
                  #E16541 16.666%, 
                  #E16541 33.333%, 
                  #F18F43 33.333%, 
                  #F18F43 50%, 
                  #8B9862 50%, 
                  #8B9862 66.666%, 
                  #476098 66.666%, 
                  #476098 83.333%, 
                  #A7489B 83.333%);
            background-size: 100%;
            background-repeat: repeat;
          }
          
          &-text--highlight {
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
    
          }
          
          &-icon {
            color: white;
            border-radius: 5px;
            box-sizing: content-box;
            padding: 0.1em 0.2em;
            animation: float 1.5s ease-in-out infinite;
          }
    
          &:hover {
            cursor: default;
          }
          
          &-text--highlight:hover {
              animation: rainbow-text-simple-animation 0.5s ease-in forwards;
          }
          
            
        @keyframes rainbow-text-simple-animation-rev {
            0% {
                background-size: 650%;
            }
            40% {
                background-size: 650%;
            }
            100% {
                background-size: 100%;
            }
        }
        
        @keyframes rainbow-text-simple-animation {
            0% {
                background-size: 100%;
            }
            80% {
                background-size: 650%;
            }
            100% {
                background-size: 650%;
            }
        }
    
        @keyframes float {
            0% {
                transform: translatey(0px);
            }
            50% {
                transform: translatey(-5px);
            }
            100% {
                transform: translatey(0px);
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 3em;
    }

    &__input {
        width: 300px;
        text-indent: 5px;
    }

    &__button {
        background-color: green;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 1em;
        margin-top: .3em;
        width: 100%;
        font-size: 1rem;
        cursor: pointer;
    }

    &__signup-info {
        font-size: 0.9rem;

        a {
            color: rgb(2, 121, 248);
            letter-spacing: 0.5px;
        }
    }

    &__error-msg {
        color: red;
        font-size: 0.8rem;
        text-align: center;
    }
}
