.chart {
    flex: 4;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 1em;
    color: gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  
    &__title {
        font-size: 1.5rem;
      margin-bottom: 20px;
    }
  
    &__grid {
      stroke: rgb(228, 225, 225);
    }
  }