.users {
    padding: 1em;
    margin: 2em;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    width: 90%;

    &__container {
        border: 0.5px solid rgba(128, 128, 128, 0.25);
        border-radius: 10px;
        margin: 2em 0;
    }

    &__form {
        display: flex;
        border: 1px solid rgba(128, 128, 128, 0.2);
        width: 20%;
        border-radius: 5px;
        margin: 2em 0;
    }

    &__search {
        width: 100%;
        border: none;
        font-size: 1rem;
        padding: 0.5em;
        text-indent: 10px;
        outline: none;


        &-button {
            background-color: rgb(32, 174, 32);
            border-radius: 0 5px 5px 0;
            color: white;
            border: none;
            padding: 0 1em;
            font-size: 0.9rem;
            cursor: pointer;
            letter-spacing: 0.2px;
            font-weight: 300;
            margin: -1px;
            

        }
    }


    &__title {
        color: gray;
        font-weight: 500;
        font-size: 1.5rem;
    }

    &__actions {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__view-icon {
        color: rgb(251, 168, 15);
        cursor: pointer;
    }

    &__delete-icon {
        color: rgb(247, 28, 28);
        cursor: pointer;
    }

    &__view-icon:hover,
    &__delete-icon:hover {
        scale: 1.05;
    }


}