.app {
    display: flex;

    &-sidebar {
        display: flex;
        flex: 1;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 6;
    }
}